.dashboard {
    padding: 30px;
    background: #f5f7fb;
    min-height: 100vh;
}

.dashboard-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    margin-top: 25px;
}

.dashboard-right {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.dashboard-header h1 {
    color: #2c3e50;
    margin-bottom: 8px;
}

.dashboard-header p {
    color: #777;
}

.profile{
display:flex;
align-items:center;
gap:20px;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #4cafef;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;

}
.avatar:hover {
    transform: scale(1.05);
}

@media (max-width: 992px) {
    .dashboard-content {
        grid-template-columns: 1fr;
    }
}