.dashboard-card{

height:170px;

border-radius:12px;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.3s;

}

.dashboard-card:hover{

transform:translateY(-5px);

}

.dashboard-card .icon{

font-size:35px;

margin-bottom:20px;

}

.dashboard-card h3{

font-size:24px;

}